* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {      
  padding-top:100px;
  text-align: center;
  background-color: #DBEDF3;
}

h1 {
  font-size: 6rem;
  color: #494c4d;
  font-family: "Limelight", sans-serif;
  text-shadow: 3px 0 #3204da;

}

footer {  
  background-color: #ffffff;
  color: #000000;
  font-family: "Funnel Display", sans-serif;
  position: absolute;  
  width: 100%;
  bottom: 0;
}

.l {
  background-image: url("images/crash.png"); 
  background-size: cover; 
}

.s {
  background-image: url("images/kick.png"); 
  background-size: cover;

}

.h {
  background-image: url("images/snare.png"); 
  background-size: cover;

}

.f {
  background-image: url("images/tom1.png"); 
  background-size: cover; 
}

.j {
  background-image: url("images/tom2.png"); 
  background-size: cover;  
}

.k {
  background-image: url("images/tom3.png"); 
  background-size: cover;

}

.d {
  background-image: url("images/tom4.png"); 
  background-size: cover;  
}

.set {
  margin: 8% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  box-shadow: 5px 5px 1px #3204da;
  border: 10px solid #404B69;
  font-size: 40px;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #3204da;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.pressed{
  box-shadow: 1 3px 4px 0 #05e610;
  opacity: 0.5;
}


